body{
	background-color:  #2ecc71;
    margin: 0;
}

.content{
	width: 500px;
	margin: 0 auto;
	background-color: rgb(255,255,255) ;
	padding: 20px;
}

h1{
	text-align: center;
}

.header{
	text-align: center;
	padding: 30px;
	background-color: #f39c12;
	color: white;
}

.footer{
	background-color:  #7f8c8d;
	text-transform: uppercase;
	font-weight: bold;
}

.stopka{
	margin: 0;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 20px;
}