@import url('https://fonts.googleapis.com/css?family=Quicksand' );

body{
	font-family: Quicksand;
	margin: 0;
	background-color: #A9A9A9;
}

nav{
	background-color: black;
	text-align: center;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}


nav li{
	color: #DCDCDC;
	display: inline-block;
	/*margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 50px;*/
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 50px;
	padding-left: 50px;
	transition: background-color 1s;

}

nav li:hover{
	background-color: grey;
}

a{
	text-decoration: none;
}


a:visited{
	color: white;
}

nav ul ul li{
	display: block;
}

nav li ul{
	display: none;
}

nav li:hover ul{
	display: block;
	position: absolute;
	background-color: black;


}